*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(38, 35, 55);
    display: flex;
}
.box{
    width: 300px;
    height: 350px;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1.5em;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.51);
-webkit-box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.51);
}
.box h1{
    font-size: 1.5rem;
}
.box h1 span{
    color: blue;
}
.input-box{
    width: 100%;
    display: flex;
    padding: .3em;
    border: 2px solid black;
}
.input-box input{
    width: 100%;
    font-size: .7rem;
    outline: 0;
    border: 0;
}
.input-box img{
    width: 25px;
    cursor: pointer;
}
.box .password-range{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.box .password-range .passlength-wrapper{
    font-size: .6rem;
    width: 50px;
    height: 20px;
    display: flex;
    gap: 1px;
    line-height: 20px;
}
.box .password-range input{
    width: 120px;
}
.box .password-range .meter{
    background-color: orange;
    color: white;
    padding: .6em;
    width: 68px;
    height: 25px;
    line-height: 13px;
    text-align: center;
    font-size: .6rem;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.box .counter{
    width: 100%;
    display: flex;
    /* background-color: salmon; */
    gap: 20px;
    display: flex;
    justify-content: center;
}
.box .counter button{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border: 2px solid blue;
    color: blue;
    font-size: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.box #generateButton{
    width: 100%;
    padding: .7em .16em;
    font-size: .7rem;
    border: 0;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: .3s all;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}

.box #generateButton:hover{
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}